

<% if logged_in? && current_user == @user %>

    <h1> Edit my profile </h1>
    <br>

    <form method="post" action="/users/<%= @user.id %>">

    <lable for="name">Name:</label><br>
    <input type="text" name="user[name]" value="<%=@user.name%>"><br><br>
    <lable for="bio">Bio:</label><br>
    <textarea name="user[bio]" value="<%=@user.bio%>"><%=@user.bio%></textarea><br><br>
    <label for="username">Username:</label><br>
    <input type="text" name="user[username]" value="<%=@user.username%>"><br><br>
    <label for="password">Enter or change password:</label><br>
    <input type="password" name="user[password]" value=""><br><br>

    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Submit edits">

    </form>

    <div class="delete"
    <form method='post' action="/users/<%= @user.id %>">

    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete my account">

    </form>
    </div>

<% else %>

<h1> Bad URL </h1>

<% end %>