
<% if logged_in? && current_user == @user %> 

    <h1> Hi <%= @user.name %>! Here is your reading list. </h1>
    <br>

 <% else %>
    <h1> <%= @user.username %></h1>
    <br>
    <div class="bio">
    <h3> Bio: </h3>
    <p> <%= @user.bio %><p>
    <br>
    </div>
<% end %>


<! --  Show "to read" list -->
<h2> Want to read </h2> 
<br>

<div class="flex-container">
<% @user.books.each do |book| %> 

    <% like = @user.likes.find_by(book_id: book.id) %>
    <% if !like.read %>
        
        <div class="item">
        <a href="/books/<%= book.id %>"> <img src="<%= book.image_url %>"> </a> <br>
        <%= book.title %><br>
        <br>
        <%= book.author %><br>
        <br>

        <% if logged_in? && @user == current_user %>
            
            <! --  button to edit like -->
            <form method='post' action='/likes/<%= like.id %>'>
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="like[read]" value="1">
            <input type="submit" value="Mark Read">
            </form> 

            <! --  button to delete like -->
            <form method='post' action='/likes/<%= like.id %>'>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Remove From List">
            </form> 
        <% end %>
        </div>

    <% end %>
    <br>

<% end %> 
</div>

<br>

<! --  Show "have read" list -->
<h2> Have read </h2> 
<br>

<div class="flex-container">
<% @user.books.each do |book| %> 

    <% like = @user.likes.find_by(book_id: book.id) %>
        <% if like.read %>
        <div class="item">
        <a href="/books/<%= book.id %>"> <img src="<%= book.image_url %>"> </a> <br>
        <%= book.title %><br>
        <br>
        <%= book.author %><br>
        <br> 

        <% if logged_in? && @user == current_user %>
            <! --  button to edit like -->
            <form method='post' action='/likes/<%= like.id %>'>
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="like[read]" value="0">
            <input type="submit" value="Mark To Read">
            </form> 

            <! --  button to delete like -->
            <form method='post' action='/likes/<%= like.id %>'>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Remove From List">
            </form> 
        <% end %>
        </div>
    <% end %>
    <br>

<% end %> 
</div>
<br>



