<div class="page-heading">
<h1> All Books </h1>
</div>
<br>
<p> Don't see a book that you are looking for? <a href="/books/new">Add a book here </a> </p>
<br>
<% sorted_books = @books.sort_by {|book| -book.likes.count} %>

<div class="flex-container">

<% sorted_books.each do |book| %> 

    <div class="item">
    <a href="/books/<%= book.id %>"><img src="<%= book.image_url %>"></a>
    <h3><%= book.title %></h3>
    <h4> <%= book.author %> </h4>
    <p> Likes: <%= book.likes.count %>
    </div>
    <br>

<% end %>    

</div>